{{>layout/header}}
<body>
<div class="wrapper">
    {{>layout/body-header}}
    <div class="m-category">
    </div>
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        {{>layout/body-left}}
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="posts-section" id="posts-section">
                                    <div>
                                        <div>
                                            <form class="navbar-form navbar-left" role="search">
                                                <div class="form-group">
                                                    <input type="text" name="memberName" class="form-control" placeholder="회원명" value="{{orderSearch.memberName}}">
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control" name="orderStatus">
                                                        <option value="">주문상태</option>
                                                        <option value="ORDER" {{#equals orderSearch.orderStatus 'ORDER'}} selected {{/equals}} >주문</option>
                                                        <option value="CANCEL" {{#equals orderSearch.orderStatus 'CANCEL'}} selected {{/equals}} >취소</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-default">검색</button>
                                            </form>
                                        </div>

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>회원명</th>
                                                <th>대표상품 이름</th>
                                                <th>총 주문가격</th>
                                                <th>상태</th>
                                                <th>일시</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#orders}}
                                                <tr>
                                                    <td>{{memberName}}</td>
                                                    <td>{{firstItemName}}</td>
                                                    <td>{{totalPrice}}</td>
                                                    <td>{{orderStatus}}</td>
                                                    <td>{{orderDate}}</td>
                                                    <td>
                                                        {{#equals orderStatus 'ORDER'}}
                                                            <button onclick="deleteOrder({{id}})" class="btn btn-danger">주문취소</button>
                                                        {{/equals}}
                                                    </td>
                                                </tr>
                                            {{/orders}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{>layout/body-right}}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{{>layout/js}}
<script>
    function deleteOrder(id) {
        $.ajax({
            url: "/orders/" + id,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload();
            },
            error: function (request, status, error) {
                alert("error!");
            },
            complete: function () {
            }
        });
    }
</script>
</body>

{{>layout/footer}}